@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #F9F9F9;
  --color-secondary: #47464B;
  --font-standard: var(--font-inter-sans);
  --font-headline: var(--font-eb-garamond-sans);
}
